<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-questions-heading" jhiTranslate="plataformaApp.questions.home.createOrEditLabel">Create or edit a Questions</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!questions.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="questions.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plataformaApp.questions.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="questions.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plataformaApp.questions.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="questions.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plataformaApp.questions.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                        [(ngModel)]="questions.type" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plataformaApp.questions.order" for="field_order">Order</label>
                    <input type="number" class="form-control" name="order" id="field_order"
                        [(ngModel)]="questions.order" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plataformaApp.questions.require" for="field_require">Require</label>
                    <input type="text" class="form-control" name="require" id="field_require"
                        [(ngModel)]="questions.require" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plataformaApp.questions.matchings" for="field_matchings">Matchings</label>
                    <select class="form-control" id="field_matchings" name="matchings" [(ngModel)]="questions.matchingsId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="matchingsOption.id" *ngFor="let matchingsOption of matchings; trackBy: trackMatchingsById">{{matchingsOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
