<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="statusCandidates">
            <h2><span jhiTranslate="plataformaApp.statusCandidates.detail.title">Status Candidates</span> {{statusCandidates.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="plataformaApp.statusCandidates.stageName">Stage Name</span></dt>
                <dd>
                    <span>{{statusCandidates.stageName}}</span>
                </dd>
                <dt><span jhiTranslate="plataformaApp.statusCandidates.source">Source</span></dt>
                <dd>
                    <span>{{statusCandidates.source}}</span>
                </dd>
                <dt><span jhiTranslate="plataformaApp.statusCandidates.subStageName">Sub Stage Name</span></dt>
                <dd>
                    <span>{{statusCandidates.subStageName}}</span>
                </dd>
                <dt><span jhiTranslate="plataformaApp.statusCandidates.candidates">Candidates</span></dt>
                <dd>
                    <div *ngIf="statusCandidates.candidatesId">
                        <a [routerLink]="['/candidates', statusCandidates.candidatesId, 'view']">{{statusCandidates.candidatesId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/status-candidates', statusCandidates.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
